@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  position: relative;
}

.logo {
  font-weight: 500;
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 13px;
  font-weight: 600;
}

.header .main-menu {
  display:  flex;
  align-items: center;
  justify-content: space-between;
}


.header ul.main-menu li {
  margin: 0 2px;
  position: relative;
}

.header ul.mobile-menu li a,
.header ul.main-menu li a {
  padding: 5px 10px;
}

.header ul.main-menu li a,
.header ul.mobile-menu li a {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

.header ul li a:hover,
.header ul li a:active {
  background: #c4dec4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #777;
  transition: ease-in 500ms all;
}

.main-menu .recalls {
  box-shadow: #e8e2e2 0px 0px 5px 5px;
  padding-left: 0;
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  z-index: 3;
}

.header ul.main-menu li ul.recalls  li {
  width: 100%;
  margin: 0;
}


.burger-housing {
  padding: 7px 21px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.burger-housing:hover {
  background: #c4dec4;
}

.burger-container {
  width: 28px;
  height: 21px;
  position: relative;
}

.burger-line,
.burger-line-1,
.burger-line-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 5px;
  background: #777;
}

.burger-line-1 {
  transform: translateY(8px);
}

.burger-line-2 {
  transform: translateY(16px);
}

.header .mobile-menu {
  /*border: 1px solid #777;*/
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-top: 2.5rem;
  background: #ffff;
  z-index: 2;
  right: 20px;
  top: 37px;
  width: 200px;
  box-shadow: #e8e2e2 0px 0px 2px 2px;
  animation-name: appear, growDown;
  animation-duration: 300ms, 400ms;
  animation-delay: 0s;
  animation-timing-function: linear, ease;
  transition: all 200ms;
}

@keyframes appear {
  0% {
    z-index: -1;
    opacity: 0;
  }
  100% {
    z-index: 2;
    opacity: 1;
  }
}

@keyframes growDown{
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}


.mobile-menu .recalls {
  box-shadow: inset #e8e2e2 0px 0px 5px 2px;
  padding-left: 0;
}

.search-filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
}

/*Home */
.home-image {
  height: 60vh;
  background-image: url('./static/meat.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;  
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
  gap: 10px;
}

.home-image-heading {
    font-size: 2rem;
    font-weight: 700;
}

.home-image-sub {
  font-weight: 600;
}

.latest-recalls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
  padding: 30px 0;
}

.latest-recalls > .recall-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px;
  gap: 10px;  
  border-radius: 5px;
}

.latest-recalls > .recall-list:hover {
  box-shadow: #c4dec4 0 0 0px 2px;
}

.latest-recalls > .recall-list > .home-field-title{
  text-align: left;
  font-weight: 600;
}

/* Buttons */
.btn {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  background: #c4dec4;
  font-weight: 600;
}

.btn:hover {
  opacity: 0.8;
  transition: 200ms;
}

.search-filter-heading {
  text-align: left;
  font-weight: 600;
}

.filter-param {
  margin: 5px 0;
}

/* View Buttons */
.view {
  display: flex;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.list-view, .chart-view {
  flex: 1 1;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  background: #7777771f;
  cursor: pointer;
}

.view-active {
  background: white;
  box-shadow: #7777771f 0 0 2px 2px;
}

.chart {
  height: 300px;
  padding: 10px;
  margin: 25px 0;
}

.chart-heading {
  padding: 10px;
  font-weight: 600;
}

/* Form fields */
input {
  display: block;
  outline: none;
  line-height: 1.3;
  padding: 8px 10px;
  border: 1px solid #aaa;
  background-color: white;
  color: #000;
  width: calc(100% - 20px);
  border-radius: 5px;
}

input[type='checkbox'] {
  width: auto;
}

.form {
  margin-top: 5px;
}

.form form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cause {
  display: flex;
  justify-content: space-between;
  border: 1px solid #aaa;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.options-group {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  width: 100%;
  padding: 1px 0;
}


.options-group div:nth-of-type(2){
  padding: 0 10px;
}

/* Recall List */
.recall-list {
  padding: 15px 5px;
  margin-bottom: 10px;
  background: #c4dec426;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.recall-list:hover {
  box-shadow: #c4dec4 0 0 0px 2px;
}

.recall-list-1 {
  padding: 15px 5px;
  margin-bottom: 10px;
}

.recall-list span,
.recall-list-1 span,
.recall-list-1 .recall-header {
  font-weight: 600;
}

.recall-header {
  padding: 5px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 10px;
  font-size: 13px;
}

.recall-title {
  font-weight: 600;
  text-align: left;
  font-size: 1.2rem;
  padding: 5px 0;
}

.company {
  padding: 5px 0;
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
}

.recall-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.recall-details {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 5px 0;
}

.recall-states, .recall-cause {
  text-align: left;
  word-wrap: anywhere;
}


.not-found {
  padding: 10px;
}
.jump {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jump select {
  padding: 8px;
  margin: 8px;
}

.button-controls {
  display: flex;
  padding: 8px 0;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}
.button-controls img, .prev_next img {
  width: 25px;
}

.btn-controls {
  color: rgba(0, 255, 255, 100);
  outline: none;
  border: 1px solid black;
  background: rgba(255, 255, 255, 1.0);
  /*padding: 1rem 1rem;*/
  width: auto;
  margin: 0 0.2rem;
  border-radius: 50%;
  font-size: 0.7rem;
}

.btn-controls:disabled {
  opacity: 0.2;
}

.current {
  margin-right: 0.2rem;
}

.total_pages {
  margin-left: 0.2rem;
}

.pages {
  padding: 0.2rem;
  color: rgba(22, 22, 68, 1.0);
}
.pages .current {
  font-weight: 700;
}

/* Login Register */
label {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-weight: 600;
}

.form-control {
  margin: 10px 0;
}

.form-control form,
.form-control .form-profile {
  max-width: 500px;
  margin: auto;
}

.form-control p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font: 0.9rem;
}

.form-control a {
  font-weight: 600;
}

.form-group {
  margin: 5px 0;
  padding: 0 5px;
}

.form-group .email {
  text-align: left;
  padding: 7px 0;
}

.login {
  font-size: 1.2rem;
  font-weight: 600;
}

.profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

.profile-heading {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 8px 0;
}

.profile-heading-1 {
  text-align: left;
  font-weight: 600;
  border-bottom: 1px solid #e6e6e6;
  /*padding-bottom: 4px;*/
  background: #c4dec43d;
  border-radius: 5px;
  padding: 5px;
}

.foot-note {
  font-style: italic;
}

.footer {
  background: #c4dec4;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}

.recall-extend {
  text-align: left;
}

.foot-note-notify {
  font-style: italic;
  text-align: left;
  font-size: 12px;
  font-weight: 100;
  padding: 5px;
}

.alert {
  padding: 10px 0;
  margin-top: 10px;
  color: white;
  border-radius: 10px;
  font-weight: 600;
}

.error-msg {
  background: red;
}

.success-msg {
  background: green;
}

.unknown {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #8080803d;
}

.unknown-header {
  font-size: 2rem;
  font-weight: 700;
  padding: 20px;
}
.unknown-msg {
  font-size: 1.2rem;
  font-weight: 500;
}

.spinner {
  width: 25px;
  height: 25px;
  margin-top: 5rem;
  border: 3px solid #c4dec4;
  border-left-color: rgb(82, 82, 94);
  border-radius: 50%;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (max-width: 760px) {
  body {
    font-size: 13px;
  }

  .header .main-menu {
    display: none;
  }

  .header .mobile-menu {
    display: flex;
  }

  .burger-housing {
    display: block;
    border: 1px solid #777;
  }
  .button-controls img, .prev_next img {
    width: 15px;
  }

  .latest-recalls {
    gap: 10px;
  }

  .home-image {
    height: 40vh;
  }
}